@import url('https://fonts.googleapis.com/css2?family=Rajdhani&family=Quicksand');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: rgb(241, 188, 154);
  background: linear-gradient(
    180deg,
    rgba(241, 188, 154, 1) 0%,
    rgba(136, 114, 168, 1) 100%
  );
  font-family: 'Quicksand', sans-serif;

  min-height: 100vh;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1.5rem;
}

h1 {
  font-size: 2.5rem;
}

nav,
input,
button,
.card-title {
  font-family: 'Rajdhani', sans-serif;
}

nav {
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav input,
nav button {
  padding: 0.35rem 0.45rem;
  font-size: 1.05rem;
}

button {
  cursor: pointer;
}

[aria-hidden='true'] {
  display: none;
}

.main-title,
.location-name {
  color: rgb(61, 55, 55);
}

.location-name {
  font-size: 1.85rem;
  margin: 0.75rem 0;
  font-weight: 400;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 1rem;
}

.card {
  background-color: #f8f6f9;
  border-radius: 6px;

  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
}

.card-title,
.card-details {
  text-align: center;
}

.card-img {
  width: 150px;
  height: 150px;
}

.card-title {
  background-color: #ddd5e0;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  letter-spacing: 2px;
  text-transform: uppercase;

  padding: 0.45rem 0;
  width: 100%;
}

.card-condition {
  font-size: 0.85rem;
  margin-bottom: 0.45rem;
  text-transform: capitalize;
}

.card-details {
  padding: 0.45rem 0;
}

.card-details .temperature {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 0.25rem;
}

.card-details .date {
  font-size: 1.15rem;
}

/* Utilities */
.separator {
  width: 80%;
  height: 1px;
  background-color: hsl(284, 15%, 75%);
}

.italic {
  font-style: italic;
}

.underline {
  text-decoration: underline;
}
