@import url('https://fonts.googleapis.com/css2?family=Rajdhani&family=Quicksand');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(
    180deg,
    rgb(132, 187, 221) 0%,
    rgba(173, 216, 230, 1) 50%,
    rgb(226, 247, 255) 100%
  );
  font-family: 'Quicksand', sans-serif;

  margin: 0 auto;
  min-height: 100vh;
  max-width: 1200px;
  padding: 0 1.5rem;
}

h1 {
  font-size: 2.5rem;
}

h2,
nav,
input,
button {
  font-family: 'Rajdhani', sans-serif;
}

nav {
  display: flex;
  flex-direction: column;
  align-items: center;
}

[aria-hidden='true'] {
  display: none;
}

/* Start Search Input & Button Styles */
input,
input + button {
  border-radius: 6px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-size: 1rem;
  height: 2.8rem;
}

input {
  background-color: rgba(255, 255, 255, 0.85);
  border: 2px solid rgba(20, 60, 90, 0.5);
  color: rgb(0, 58, 93);
  outline: none;
  padding: 0 1rem;
}

input:focus {
  background-color: rgba(255, 255, 255, 1);
  border-color: #003a5d;
  box-shadow: 0 4px 8px rgba(0, 58, 93, 0.2);
}

input + button {
  background: linear-gradient(180deg, #003a5d, #005580);
  border: none;
  color: rgb(255, 255, 255);
  cursor: pointer;
  font-weight: bold;
  padding: 0 1.25rem;
}

input + button:hover {
  background: linear-gradient(180deg, #005580, #0077a8);
  box-shadow: 0 4px 8px rgba(0, 58, 93, 0.3);
}

input + button:active {
  transform: scale(0.95);
}
/* End Search Input & Button Styles*/

/* Start General Styles */
.main-title,
.location-name {
  color: rgb(1, 65, 105);
}

.location-name {
  font-size: 1.85rem;
  margin: 0.75rem 0;
  font-weight: 400;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 3px;
}
/* End General Styles */

/* Start Card Styles */
.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 1rem;
}

.card {
  background-color: rgba(240, 248, 255, 0.85);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 1rem;

  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
}

.card-title,
.card-details {
  text-align: center;
}

.card-img {
  width: 150px;
  height: 150px;
}

.card-title {
  background-color: rgba(173, 216, 230, 0.4);
  text-transform: uppercase;
  padding: 0.45rem 0;
  width: 100%;
  color: #004466;
  font-weight: bold;
}

.card-condition {
  font-size: 0.85rem;
  margin-bottom: 0.45rem;
  text-transform: capitalize;
  color: #004466;
}

.card-details {
  color: #003366;
  padding: 0.45rem 0;
}

.card-details .temperature {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 0.25rem;
}

.card-details .date {
  font-size: 1.15rem;
}
/* End Card Styles */

/* Start Utilities */
.separator {
  width: 80%;
  height: 1px;
  background-color: rgba(173, 200, 230, 0.75);
}

.italic {
  font-style: italic;
}

.underline {
  text-decoration: underline;
}
/* End Utilities */
